@font-face {
    font-family: "bebasFontStyle";
    src: url("/font-styles/BebasNeue-Regular.woff2") format("woff2"), url("/font-styles/BebasNeue-Regular.woff")
        format("woff");
  }

body{
    background-color: #191919;
    height: 100%;
}


#container{
    display: flex; /* or inline-flex */
    flex-direction: row;   
}

.headerMain{
    background: #204fcf7e;
    color: #fffdd0ee;
    flex-grow: 1;
    order:1;
}

.hMain{
    text-align: center;
    font-family: 'bebasFontStyle';
}

.flex-Container{
    display: flex;
    justify-content: center;
    position: relative;
    flex-flow: row wrap;
    height: 60vh;
    background-color: #555;
}

.flexItem{
}


  .winButton {
    font-family: 'bebasFontStyle';
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .winButton:hover {background-color: #4CAF50}
  
  .winButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .loseButton {
    font-family: 'bebasFontStyle';
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .loseButton:hover {background-color: red}
  
  .loseButton:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .resetButton {
    font-family: 'bebasFontStyle';
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: yellowgreen;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .resetButton:hover {background-color: yellowgreen}
  
  .resetButton:active {
    background-color: yellowgreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }